<div class="tab-bar">
    <a class="tab-hdr {% if active_tab == Tabs::Rides %}tab-active{% endif %}" href="/rides">Rides</a>
    <a class="tab-hdr {% if active_tab == Tabs::Segments %}tab-active{% endif %}" href="/segments">Segments</a>
    <a class="tab-hdr {% if active_tab == Tabs::Controls %}tab-active{% endif %}" href="/controls">Controls</a>
    <a class="tab-hdr {% if active_tab == Tabs::Jobs %}tab-active{% endif %}" href="/jobs">Jobs</a>
    <a class="tab-hdr {% if active_tab == Tabs::Settings %}tab-active{% endif %}" href="/settings">Settings</a>
</div>
